{% extends "iwms/iwms_base_scripts.html" %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="text-success pe-7s-upload">
                    </i>
                </div>
                <div>{{pck_generated_number}}
                    <div class="page-title-subheading"><div class="mb-2 mr-2 badge badge-pill badge-primary">LOGGED</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ url_for('bp_iwms.picking_create') }}" id="edit_form" class="needs-validation" method="POST" novalidate>
    {{ form.csrf_token }}
            <div class="main-card mb-3 card">
                <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="so_number" class="">Sales Order No.</label>
                                    <div class="input-group"><input id="so_number" name="so_number" type="text" class="form-control" readonly>
                                        <div class="input-group-append">
                                            <button id="btn_search_so" type="button" data-toggle="modal" data-target="#search_so_modal" title="Search SO" data-placement="bottom" class="btn btn-primary pe-7s-search"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="warehouse_id" class="">Warehouse</label>
                                    <select name="warehouse_id" id="warehouse_id" class="form-control" required>
                                        <option value="">Choose...</option>
                                        {% for warehouse in warehouses %}
                                        <option value="{{warehouse.id}}">
                                            {{ warehouse.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a warehouse
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="remarks" class="">Remarks</label>
                                    <input name="remarks" id="remarks" type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-header">Line Items
                </div>
                <div class="table-responsive">
                    <table id="tbl_pwy_item_line" class="align-middle mb-0 table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="display:none;">ID</th>
                            <th></th>
                            <th class="text-center">ITEM NO.</th>
                            <th class="text-center">NAME</th>
                            <th class="text-center">BIN LOCATION</th>
                            <th class="text-center">LOT</th>
                            <th class="text-center">EXPIRY</th>
                            <th class="text-center">UOM</th>
                            <th class="text-center">QTY</th>
                            <th class="text-center">TIMESTAMP</th>
                            <th class="text-center">PICKER</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="d-block text-center card-footer">
                    <!-- <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button> -->
                    <button type="button" class="btn-wide btn btn-success" data-toggle="modal" data-target="#so_line_modal" data-placement="bottom">Add</button>
                </div>
            </div>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();
        </script>
    </form>
</div>
{% endblock %}