{% extends "iwms/iwms_base_scripts.html" %}

{% block inner_footer %}
<div class="app-footer-right">
    <button type="button" class="btn btn-secondary" onclick="history.back(-1)" 
    style="margin-right: 10px;">Back</button>
</div>
{% endblock %}

{% block content %}
<div class="app-main__inner">
    <form action="{{ url_for('bp_iwms.purchase_order_edit',oid=oid) }}" id="edit_form" class="needs-validation" method="POST" novalidate>
        {{ form.csrf_token }}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="text-success pe-7s-wallet">
                    </i>
                </div>
                <div>{{ form.po_number.data }}
                    <div class="page-title-subheading">
                        {% if form.status.data == 'LOGGED' %}
                        <div class="mb-2 mr-2 badge badge-pill badge-primary">LOGGED</div>
                        {% elif form.status.data == 'COMPLETED' %}
                        <div class="mb-2 mr-2 badge badge-pill badge-success">COMPLETED</div>
                        {% elif form.status.data == 'RELEASED' %}
                        <div class="mb-2 mr-2 badge badge-pill badge-warning">RELEASED</div>
                        {% elif form.status.data == 'PENDING' %}
                        <div class="mb-2 mr-2 badge badge-pill badge-danger">PENDING</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">General Information</h5>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="supplier_id" class="">Supplier</label>
                                    <select name="supplier_id" id="supplier_id" class="form-control" disabled>
                                        <option value="">Choose...</option>
                                        {% for supplier in suppliers %}
                                        <option value="{{ supplier.id }}" {% if supplier.id == form.supplier_id.data %}selected{% endif %}>
                                            {{ supplier.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a supplier
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="warehouse_id" class="">Warehouse</label>
                                    <select name="warehouse_id" id="warehouse_id" class="form-control" disabled>
                                        <option value="">Choose...</option>
                                        {% for warehouse in warehouses %}
                                        <option value="{{ warehouse.id }}" {% if warehouse.id == form.warehouse_id.data %}selected{% endif %}>
                                            {{ warehouse.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a warehouse
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="ship_to" class="">Ship To</label>
                                    <select name="ship_to" id="ship_to" class="form-control" disabled>
                                        {% for key,value,checked in form.ship_to.iter_choices() %}
                                        <option value="{{ key }}" {% if key == form.ship_to.data %}selected{% endif %}>
                                            {{ value }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a ship to
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="address">Address</label>
                                    <input name="address" id="address" type="text" class="form-control" value="{{form.address.data}}" disabled>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid address
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="remarks" class="">Remarks</label>
                                    <input name="remarks" id="remarks" type="text" class="form-control" value="{{form.remarks.data}}" disabled>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid remarks
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="ordered_date" class="">Ordered</label>
                                    <input name="ordered_date" id="ordered_date" type="date" class="form-control" value="{{form.ordered_date.data.strftime('%Y-%m-%d')}}" disabled>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid ordered date
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="delivery_date" class="">Delivery</label>
                                    <input name="delivery_date" id="delivery_date" type="date" class="form-control" value="{{form.delivery_date.data.strftime('%Y-%m-%d')}}" disabled>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid delivery date
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="approved_by" class="">Approved by</label>
                                    <input name="approved_by" id="approved_by" type="text" class="form-control" value="{{form.approved_by.data}}" disabled>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid approved by
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-header">Line Items
                </div>
                <div class="table-responsive">
                    <table id="tbl_line_items" class="align-middle mb-0 table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="display:none;">ID</th>
                            <th style="display:none;">DESCRIPTION</th>
                            <th style="display:none;">BARCODE</th>
                            <th></th>
                            <th class="text-center">ITEM NO.</th>
                            <th class="text-center">NAME</th>
                            <th class="text-center">UOM</th>
                            <th class="text-center">QTY</th>
                            <th class="text-center">UNIT COST</th>
                            <th class="text-center">AMOUNT</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for line in line_items %}
                            <tr>
                                <td style="display:none;"><input name="products[]" type="hidden" value="{{line.stock_item_id}}"></td>
                                <td style="display:none;">{{line.stock_item.description}}</td>
                                <td style="display:none;">{% if not line.stock_item.barcode == None %}{{line.stock_item.barcode}}{% endif %}</td>
                                <td></td>
                                <td class='text-center'>{{line.stock_item.number}}</td>
                                <td class='text-center'>{{line.stock_item.name}}</td>
                                <td class='text-center'>
                                    <select name="uom_{{line.stock_item_id}}" style='width: 100%;' disabled>
                                        {% for uom in line.stock_item.uom_line %}
                                        <option value="{{uom.uom_id}}" {% if uom.uom_id == line.uom_id %}selected{% endif %}>{{uom.uom.code}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class='text-center'><input class="input_qty" name="qty_{{line.stock_item_id}}" type="number" style="width:50px" value="{{line.qty}}" disabled></td>
                                <td class='text-center'><input class="input_cost" name="cost_{{line.stock_item_id}}" type="number" value="{{line.unit_cost}}" style="width:100px" readonly></td>
                                <td class='text-center'><input class="amount" name="amount_{{line.stock_item_id}}" type="number" value="{{line.amount}}" style="width:100px" readonly></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();
        </script>
    </form>
</div>
{% endblock %}