<div id="search_sr_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Stock Receipts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="tbl_sr_modal" class="mb-0 table" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">ID</th>
                                            <th>RECEIPT NUMBER</th>
                                            <th>SOURCE</th>
                                            <th>REFERENCE</th>
                                            <th>WAREHOUSE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sr in sr_list %}
                                        <tr class="item" id="{{ sr.id }}">
                                            <td style="display:none;">{{ sr.id }}</td>
                                            <td>{{sr.sr_number}}</td>
                                            <td>{{sr.source.name}}</td>
                                            <td>{{sr.reference}}</td>
                                            <td>{{sr.purchase_order.warehouse.name}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btn_select_sr" type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
                    </div>
                </div>
        </div>
    </div>
</div>