<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Receive item</h5>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        <p id="p_item_name"> </p>
                    </li>
                    <li>
                        <p id="p_qty"> </p>
                    </li>
                    <li>
                        <p id="p_lot_no"> </p>
                    </li>
                    <li>
                        <p id="p_expiry_date"> </p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn_confirm_po_line" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>