{% extends "admin/admin_base.html" %}
{% block sidebar %}
    {% include 'iwms/iwms_sidebar.html' %}
{% endblock %}
{% block style %}
<style>
    .myHiddenColumn {
        display: none;
    }
</style>
{% endblock %}


{% block inner_footer %}
{% if context['model'] == 'purchase_order' %}
<div class="app-footer-right">
    <button type="button" class="btn btn-secondary" onclick="history.back(-1)" 
    style="margin-right: 10px;">Cancel</button>
    <input form="edit_form" type="submit" style="margin-right: 10px;" name='btn_submit' class="btn btn-primary" value="Save and Print">
    <input form="edit_form" type="submit" class="btn btn-primary" name='btn_submit' value="Save">
</div>
{% else %}
<div class="app-footer-right">
    <button type="button" class="btn btn-secondary" onclick="history.back(-1)" 
    style="margin-right: 10px;">Cancel</button>
    <button form="edit_form" type="submit" class="btn btn-primary">Save</button>
</div>
{% endif %}
{% endblock %}



<!-- CHECK KUNG PO O SI ANG MAIINCLUDE NA SCRIPT -->
{% block scripts %}
{% if context['model'] == 'purchase_order' %}

<!-- FOR PURCHASE ORDER -->
<script>
    (function() {
        var fixed_footer = document.getElementById('chkbox_fixed_footer');
        setTimeout(function() {
          fixed_footer.click();
        }, 100);
      })();

    $(document).ready(function(){
            var table_product = $('#tbl_product_modal').DataTable({
            });

            $('#tbl_line_items').on('change', 'input', function(){
                var row = $(this).closest("tr");
                var cost = row.find('.input_cost').val();
                var qty = row.find('.input_qty').val();
                var amount = parseFloat(qty) * parseFloat(cost); 
                row.find('.amount').val(amount.toFixed(2));
            });
            
            $("#supplier_id").change(function(){
                var csrf_token = "{{ csrf_token() }}";
                var supplier_id = $(this).val();
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                $.ajax({
                    url: "/iwms/_get_suppliers",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({'sup_id': supplier_id}),
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        table_product.clear().draw();
                        $("#tbl_line_items tr").each(function() {
                            if ($(this).find("input").eq(0).val()){
                                $(this).remove();
                            }
                        });

                        for(i=0;i < data.items.length; ++i){
                            var row = table_product.row.add([
                            data.items[i].id,
                            data.items[i].default_cost,
                            "<input class='chkbox' type='checkbox'>",
                            data.items[i].number,
                            data.items[i].name,
                            data.items[i].description,
                            data.items[i].barcode
                            ]);
                            table_product.row(row).column(0).nodes().to$().addClass('myHiddenColumn');
                            table_product.row(row).column(1).nodes().to$().addClass('myHiddenColumn');
                            table_product.row(row).draw();
                        }
                    }
                });
            });

            
            $("#btn_add_product").click(function(){
                var csrf_token = "{{ csrf_token() }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                var counter = 1;
                $("tr").each(function() {
                    var check = $(this).find("input.chkbox").is(':checked');
                    if(check){
                        var item_no = $(this).find("td").eq(3).html();
                        var item_name = $(this).find("td").eq(4).html();
                        var item_id = $(this).find("td").eq(0).html();
                        var item_default_cost = $(this).find("td").eq(1).html();
                        var item_uom = `<select name="uom_${item_id}" style='width':100%;'>`;
                        $.ajax({
                            url: "/iwms/_get_uom_line",
                            type: 'POST',
                            async: false,
                            dataType: 'json',
                            data: JSON.stringify({'stock_item_id':item_id}),
                            contentType: "application/json; charset=utf-8",
                            success: function(data){
                                for (i=0; i < data.uom_lines.length; ++i){
                                    if (data.uom_lines[i].default == 'true'){
                                        item_uom += `<option value='${data.uom_lines[i].id}' selected>${data.uom_lines[i].code}</option>`;
                                    }else{
                                        item_uom += `<option value='${data.uom_lines[i].id}'>${data.uom_lines[i].code}</option>`;
                                    }
                                }
                            }
                        });

                        $('#tbl_line_items tr:last').after(
                            `<tr>
                                <td style="display:none;"><input name="products[]" type="hidden" value="${item_id}"></td>
                                <td><input class="chkbox" type="checkbox"></td>
                                <td class='text-center'>${counter}</td><td class='text-center'>${item_no}</td>
                                <td class='text-center'>${item_name}</td>
                                <td class='text-center'>
                                    ${item_uom}
                                    </select>
                                </td>
                                <td class='text-center'><input class="input_qty" name="qty_${item_id}" type="number" style="width:50px" value="0"></td>
                                <td class='text-center'><input class="input_cost" name="cost_${item_id}" type="number" value="${item_default_cost}" readonly></td>
                                <td class='text-center'><input class="amount" name="amount_${item_id}" type="number" value="0.00" readonly></td>
                            </tr>
                            `
                            );
                        counter = counter + 1;
                        table_product.row($(this)).remove().draw();
                    }
                });
            });


            $("#btn_delete_line").click(function(){
                $("#tbl_line_items tr").each(function() {
                    var check = $(this).find("input.chkbox").is(':checked');
                    if (check){
                        var row = table_product.row.add([
                            $(this).find("input").eq(0).val(),
                            $(this).find("input").eq(3).val(),
                            "<input class='chkbox' type='checkbox'>",
                            $(this).find("td").eq(3).html(),
                            $(this).find("td").eq(4).html(),
                            "",""
                        ]);
                        table_product.row(row).column(0).nodes().to$().addClass('myHiddenColumn');
                        table_product.row(row).column(1).nodes().to$().addClass('myHiddenColumn');
                        table_product.row(row).draw();
                        $(this).remove();
                    }
                });
            });
    });

</script>

{% elif context['model'] == 'stock_item' %}
<!-- FOR STOCK ITEM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- FOR STOCK ITEM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- FOR STOCK ITEM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- FOR STOCK ITEM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<script>
    (function() {
        var fixed_footer = document.getElementById('chkbox_fixed_footer');
        setTimeout(function() {
          fixed_footer.click();
        }, 100);
      })();
    
      $(document).ready(function(){
        var table_uom = $('#tbl_uom_modal').DataTable({
        });

        $("#length, #width, #height").change(function(){
            var length = $("#length").val();
            var width = $("#width").val();
            var height = $("#height").val();
            $("#cbm").val(length*width*height);
        });

        $("#description").change(function(){
            $("#description_plu").val($(this).val());
        });

        $("#unit_id").change(function(){
            var unit_id = $(this).val();
            $("#tbl_uom_line tr").each(function(){
                var uom_id = $(this).find("input").eq(0).val();
                if (unit_id == uom_id){
                    $(this).find("td").eq(2).html("<div class='badge badge-primary'>YES</div>");
                }else{
                    $(this).find("td").eq(2).html("<div class='badge badge-secondary'>NO</div>");
                }
            });
        });

        $("#btn_add_uom").click(function(){
            $("tr").each(function() {
                var check = $(this).find("input.chkbox").is(':checked');
                if(check){
                    var code = $(this).find("td").eq(2).html();
                    var description = $(this).find("td").eq(3).html();
                    var status = $(this).find("td").eq(4).html();
                    var uom_id = $(this).find("td").eq(0).html();
                    if (status == 'YES'){
                        status = "<td class='text-center'><div class='badge badge-success'>ACTIVE</div></td>";
                    }else{
                        status = "<td class='text-center'><div class='badge badge-danger'>INACTIVE</div></td>";
                    }
                    var default_unit = "<td class='text-center'><div class='badge badge-secondary'>NO</div></td>";
                    var unit = $("#unit_id").val();
                    if (!(unit == "")){
                        if (uom_id == unit){
                            default_unit = "<td class='text-center'><div class='badge badge-primary'>YES</div></td>";
                        }
                    }
                    var barcode = $("#barcode").val();
                    var default_cost= $("#default_cost").val();
                    var default_price = $("#default_price").val();

                    $('#tbl_uom_line tr:last').after(
                        `<tr>
                            <td style="display:none;"><input name="uoms[]" type="hidden" value="${uom_id}"></input></td>
                            <td><input class="chkbox" type="checkbox"></td>
                            ${default_unit}
                            ${status}
                            <td class='text-center'>${description}</td>
                            <td class='text-center'>${code}</td>
                            <td class='text-center'><input name="qty_${uom_id}" type="number" style="width:50px" value="0"></td>
                            <td class='text-center'><input name="barcode_${uom_id}" type="text" style="width:100px" value='${barcode}'></td>
                            <td class='text-center'><input name="default_cost_${uom_id}" type="number" style="width:50px" value="${default_cost}"></td>
                            <td class='text-center'><input name="default_price_${uom_id}" type="number" style="width:50px" value="${default_price}"></td>
                            <td class='text-center'><input name="length_${uom_id}" type="number" style="width:50px" value=""></td>
                            <td class='text-center'><input name="width_${uom_id}" type="number" style="width:50px" value=""></td>
                            <td class='text-center'><input name="height_${uom_id}" type="number" style="width:50px" value=""></td>
                        </tr>
                        `
                        );
                        table_uom.row($(this)).remove().draw();
                }
            });
        });

        $("#btn_delete_line").click(function(){
            $("#tbl_uom_line tr").each(function() {
                var check = $(this).find("input.chkbox").is(':checked');
                if (check){
                    var status = "NO";
                    if ($(this).find("td").eq(3).html() == `<div class="badge badge-success">ACTIVE</div>`){
                        status = "YES";
                    }
                    var row = table_uom.row.add([
                        $(this).find("input").eq(0).val(),
                        "<input class='chkbox' type='checkbox'>",
                        $(this).find("td").eq(5).html(),
                        $(this).find("td").eq(4).html(),
                        status
                        
                    ]);
                    table_uom.row(row).column(0).nodes().to$().addClass('myHiddenColumn');
                    table_uom.row(row).draw();
                    $(this).remove();
                }
            });
        });

        $("#barcode").change(function(){
            var csrf_token = "{{ csrf_token() }}";
            var barcode = $("#barcode").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                url: "/iwms/_barcode_check",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'barcode': barcode}),
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    if(data.result == 1){
                        $("#barcode-invalid-feedback").text("Please provide a valid barcode");
                        document.getElementById("barcode-invalid-feedback").style.display = "none";
                        document.getElementById("barcode-valid-feedback").style.display = "block";
                    }else{
                        $("#barcode-invalid-feedback").text("Barcode is already taken.");
                        document.getElementById("barcode-valid-feedback").style.display = "none";
                        document.getElementById("barcode-invalid-feedback").style.display = "block";
                    }
                }
            });
        });

});
</script>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!STOCKRECEIPT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!STOCKRECEIPT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!STOCKRECEIPT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

{% elif context['model'] == 'stock_receipt' %}
<script>
    $(document).ready(function(){
        var table_po = $('#tbl_po_modal').DataTable({
            "pageLength": 8
        });

        var table_po_line = $('#tbl_po_line_modal').DataTable({
            "pageLength": 8,
            "bInfo" : false,
            "bPaginate": false,
            "bFilter": false,
            "paging": false,
            "bSort": false,
        });

        $("#tbl_po_modal").on('click','tr', function(){
            $(this).addClass('selected').siblings().removeClass('selected');    
         });


         
        $("#tbl_po_line_modal").on('click','tr',function(){
            $(this).addClass('selected').siblings().removeClass('selected');
            $("#item_name").val($("#tbl_po_line_modal tr.selected td:nth-child(4)").html());
            $("#unit").val($("#tbl_po_line_modal tr.selected td:nth-child(5)").html());
            if (!($("#item_name").val() == '')){
                $('#btn_add_po_line').prop('disabled', false);
            }
        });

        $("#btn_add_po_line").click(function(){
            $("#p_item_name").html("<strong>ITEM NAME: </strong>" + $("#item_name").val());
            $("#p_qty").html("<strong>RECEIVED QUANTITY: </strong>" + $("#quantity").val());
            $("#p_lot_no").html("<strong>LOT NUMBER: </strong>" + $("#lot_no").val());
            $("#p_expiry_date").html("<strong>EXPIRY DATE: </strong>" + $("#expiry_date").val());

        });

        $("#btn_confirm_po_line").click(function(){
            var stock_id = $("#tbl_po_line_modal tr.selected td:first").html();
            var item_no = $("#tbl_po_line_modal tr.selected td:nth-child(3)").html();
            var item_name = $("#tbl_po_line_modal tr.selected td:nth-child(4)").html();
            var base_uom = $("#tbl_po_line_modal tr.selected td:nth-child(5)").html();
            var e_qty = $("#tbl_po_line_modal tr.selected td:nth-child(6)").html();
            var lot_no = $("#lot_no").val();
            var expiry_date = $("#expiry_date").val();
            var net_weight = $("#net_weight").val();
            var row = $("#tbl_po_line_modal tr.selected");
                $('#tbl_sr_line tr:last').after(
                    `<tr>
                        <td style="display:none;"><input name="sr_items[]" type="hidden" value="${stock_id}"></input></td>
                        <td><input class="chkbox" type="checkbox"></td>
                        <td class='text-center'>1</td>
                        <td class='text-center'>${item_no}</td>
                        <td class='text-center'>${item_name}</td>
                        <td class='text-center'><input name="lot_no_${stock_id}" type="text" value="${lot_no}" readonly></td>
                        <td class='text-center'>${expiry_date}</td>
                        <td class='text-center'><input name="uom_${stock_id}" type="text" value="${base_uom}" style="width:50px" readonly></td>
                        <td class='text-center'><input name="received_qty_${stock_id}" type="number" value="${e_qty}" style="width:50px" readonly></td>
                        <td class='text-center'><input name="net_weight_${stock_id}" type="text" value="${net_weight}" style="width:50px" readonly></td>
                        <td class='text-center'></td>
                    </tr>
                    `
                    );
                table_po_line.row(row).remove().draw();
                $('#btn_add_po_line').prop('disabled', true);
                $("#p_item_name").html("");
                $("#p_qty").html("");
                $("#p_lot_no").html("");
                $("#p_expiry_date").html("");
        });

        $('#btn_select_po').click(function(){
            // Clearing SR line and PO line table
            table_po_line.clear().draw();
            $("#tbl_sr_line tr").each(function() {
                if ($(this).find("input").eq(0).val()){
                    $(this).remove();
                }
            });

            var number = $("#tbl_po_modal tr.selected td:nth-child(2)").html();
            var supplier = $("#tbl_po_modal tr.selected td:nth-child(3)").html();
            var warehouse = $("#tbl_po_modal tr.selected td:nth-child(4)").html();
            var po_id = $("#tbl_po_modal tr.selected td:first").html();
            $("#po_number").val(number);
            $("#supplier").val(supplier);
            $("#warehouse").val(warehouse);
            
            var csrf_token = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            $.ajax({
                url: '/iwms/_get_po_line',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({'po_id':po_id}),
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    for (i=0; i < data.items.length;  ++i){
                        var row = table_po_line.row.add([
                        data.items[i].id,
                        i+1,
                        data.items[i].number,
                        data.items[i].name,
                        data.items[i].uom,
                        data.items[i].qty,'','',''
                        ]);
                        table_po_line.row(row).column(0).nodes().to$().addClass('myHiddenColumn');
                        table_po_line.row(row).draw();
                    }
                }
            });
        });
         
    });

    (function() {
        var fixed_footer = document.getElementById('chkbox_fixed_footer');
        setTimeout(function() {
          fixed_footer.click();
        }, 100);
      })();
</script>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!PUTAWAY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!PUTAWAY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
{% elif context['model'] == 'putaway' %}
<script>
    $(document).ready(function(){
        var table_sr = $('#tbl_sr_modal').DataTable({
            "pageLength": 8
        });

        var table_sr_line = $('#tbl_sr_line_modal').DataTable({
            "pageLength": 8,
            "bInfo" : false,
            "bPaginate": false,
            "bFilter": false,
            "paging": false,
            "bSort": false
        });

        $("#tbl_sr_modal tr").click(function(){
            $(this).addClass('selected').siblings().removeClass('selected');    
         });


         
        $("#tbl_sr_line_modal").on('click','tr',function(){
            $(this).addClass('selected').siblings().removeClass('selected');
            $("#item_name").val($("#tbl_sr_line_modal tr.selected td:nth-child(4)").html());
            $("#unit").val($("#tbl_sr_line_modal tr.selected td:nth-child(7)").html());
            $("#lot_no").val($("#tbl_sr_line_modal tr.selected td:nth-child(5)").html());
            $("#expiry").val($("#tbl_sr_line_modal tr.selected td:nth-child(6)").html());
            $("#quantity").val($("#tbl_sr_line_modal tr.selected td:nth-child(8)").html());
            if (!($("#item_name").val() == '')){
                $('#btn_add_sr_line').prop('disabled', false);
            }
        });

        $("#btn_add_sr_line").click(function(){
            $("#p_item_name").html("<strong>ITEM NAME: </strong>" + $("#item_name").val());
            $("#p_qty").html("<strong>RECEIVED QUANTITY: </strong>" + $("#quantity").val());
            $("#p_lot_no").html("<strong>LOT NUMBER: </strong>" + $("#lot_no").val());
            $("#p_expiry_date").html("<strong>EXPIRY DATE: </strong>" + $("#expiry").val());
        });

        $("#btn_confirm_sr_line").click(function(){
            var stock_id = $("#tbl_sr_line_modal tr.selected td:first").html();
            var item_no = $("#tbl_sr_line_modal tr.selected td:nth-child(3)").html();
            var item_name = $("#tbl_sr_line_modal tr.selected td:nth-child(4)").html();
            var base_uom = $("#tbl_sr_line_modal tr.selected td:nth-child(7)").html();
            var lot_no = $("#lot_no").val();
            var expiry_date = $("#expiry").val();
            var bin_location = $.trim(($("#bin_location option:selected").text()));
            var quantity = $("#quantity").val();
                var row = $("#tbl_sr_line_modal tr.selected");
                $('#tbl_pwy_item_line tr:last').after(
                    `<tr>
                        <td style="display:none;"><input name="pwy_items[]" type="hidden" value="${stock_id}"></input></td>
                        <td><input class="chkbox" type="checkbox"></td>
                        <td class='text-center'>1</td>
                        <td class='text-center'>${item_no}</td>
                        <td class='text-center'>${item_name}</td>
                        <td class='text-center'><input name="uom_${stock_id}" type="text" value="${base_uom}" style="width:50px" readonly></td>
                        <td class='text-center'><input name="bin_location_${stock_id}" type="text" value="${bin_location}" readonly></td>
                        <td class='text-center'><input name="lot_no_${stock_id}" type="text" value="${lot_no}" style="width:50px" readonly></td>
                        <td class='text-center'><input name="expiry_${stock_id}" type="text" value="${expiry_date}" style="width:50px" readonly></td>
                        <td class='text-center'></td>
                        <td class='text-center'><input name="qty_${stock_id}" type="text" value="${quantity}" style="width:50px" readonly></td>
                        <td class='text-center'></td>
                    </tr>
                    `
                    );
                table_sr_line.row(row).remove().draw();
                $('#btn_add_sr_line').prop('disabled', true);
                $("#p_item_name").html("");
                $("#p_qty").html("");
                $("#p_lot_no").html("");
                $("#p_expiry_date").html("");
        });

        $('#btn_select_sr').click(function(){
            // Clearing SR line and PO line table
            table_sr_line.clear().draw();
            $("#tbl_pwy_item_line tr").each(function() {
                if ($(this).find("input").eq(0).val()){
                    $(this).remove();
                }
            });

            var number = $("#tbl_sr_modal tr.selected td:nth-child(2)").html();
            var sr_id = $("#tbl_sr_modal tr.selected td:first").html();
            $("#sr_number").val(number);
            
            var csrf_token = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            $.ajax({
                url: '/iwms/_get_sr_line',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({'sr_id':sr_id}),
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    for (i=0; i < data.items.length;  ++i){
                        var row = table_sr_line.row.add([
                        data.items[i].id,
                        i+1,
                        data.items[i].number,
                        data.items[i].name,
                        data.items[i].lot_no,
                        data.items[i].expiry_date,
                        data.items[i].uom,
                        data.items[i].received_qty,'',''
                        ]);
                        table_sr_line.row(row).column(0).nodes().to$().addClass('myHiddenColumn');
                        table_sr_line.row(row).draw();
                    }
                }
            });
        });
         
    });

    (function() {
        var fixed_footer = document.getElementById('chkbox_fixed_footer');
        setTimeout(function() {
          fixed_footer.click();
        }, 100);
      })();
</script>
<!-- END NG CHECKING -->
{% endif %}
{% endblock %}


{% block modals %}
    {% if context['model'] == 'purchase_order' %}
        {% include "iwms/purchase_order/add_product_modal.html" %}

    {% elif context['model'] == 'stock_item' %}
        {% include "iwms/stock_item/add_uom_modal.html" %}

    {% elif context['model'] == 'stock_receipt' %}
        {% include "iwms/stock_receipt/search_po_modal.html" %}
        {% include "iwms/stock_receipt/po_line_modal.html" %}
        {% include "iwms/stock_receipt/confirm_modal.html" %}

    {% elif context['model'] == 'putaway' %}
        {% include "iwms/putaway/search_sr_modal.html" %}
        {% include "iwms/putaway/sr_line_modal.html" %}
        {% include "iwms/putaway/confirm_modal.html" %}

    {% endif %}
{% endblock %}


{% block toast %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="toast-container" class="toast-top-center">
    {% for category, message in messages %}
        {% if category == 'success' %}
        <div class="toast toast-success" aria-live="polite">
            <div class="toast-progress" style="width: 0%;"></div>
            <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
            <div class="toast-title">Success!</div>
            <div class="toast-message">{{ message }}</div>
        </div>
        {% elif category == 'error' %}
        <div class="toast toast-error" aria-live="polite">
            <div class="toast-progress" style="width: 0%;"></div>
            <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
            <div class="toast-title">Error!</div>
            <div class="toast-message">{{ message }}</div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}