{% extends "iwms/iwms_base_scripts.html" %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-download text-success">
                    </i>
                </div>
                <div>{{ sr_generated_number }}
                    <div class="page-title-subheading"><div class="mb-2 mr-2 badge badge-pill badge-success">ACTIVE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link show active" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="true">
                <span>General Information</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="tab" class="nav-link show" id="tab-1" data-toggle="tab" href="#tab-content-1" aria-selected="false">
                <span>Other Information</span>
            </a>
        </li>
    </ul>
    <form action="{{ url_for('bp_iwms.stock_receipt_create') }}" id="edit_form" class="needs-validation" method="POST" novalidate>
    {{ form.csrf_token }}
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="warehouse_id" class="">Warehouse</label>
                                    <select name="warehouse_id" id="warehouse_id" class="form-control">
                                        <option value="">Choose...</option>
                                        {% for warehouse in warehouses %}
                                        <option value="{{ warehouse.id }}">
                                            {{ warehouse.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="source" class="">Source</label>
                                    <select name="source" id="source" class="form-control">
                                        {% for key,value,checked in form.source.iter_choices() %}
                                        <option value="{{ key }}">
                                            {{ value }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="position-relative form-group">
                                    <label for="po_number" class="">PO No.</label>
                                    <div class="input-group"><input id="po_number" name="po_number" type="text" class="form-control" readonly>
                                        <div class="input-group-append">
                                            <button id="btn_search_po" type="button" data-toggle="modal" data-target="#search_po_modal" title="Search PO" data-placement="bottom" class="btn btn-primary pe-7s-search"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-row">

                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="supplier" class="">Supplier</label>
                                    <input name="supplier" id="supplier" type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="reference" class="">Reference</label>
                                    <input name="reference" id="reference" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="si_number" class="">SI Number</label>
                                    <input name="si_number" id="si_number" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="bol" class="">BOL</label>
                                    <input name="bol" id="bol" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="date_received" class="">Date Received</label>
                                    <input value="{{form.date_received.data.strftime('%Y-%m-%d')}}" name="date_received" id="date_received" type="date" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="putaway_txn" class="">Putaway Txn</label>
                                    <input name="putaway_txn" id="putaway_txn" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="remarks" class="">Remarks</label>
                                    <input name="remarks" id="remarks" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-header">Line Items
                </div>
                <div class="table-responsive">
                    <table id="tbl_sr_line" class="align-middle mb-0 table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="display:none;">ID</th>
                            <th></th>
                            <th class="text-center">LINE</th>
                            <th class="text-center">ITEM NO.</th>
                            <th class="text-center">NAME</th>
                            <th class="text-center">LOT NO.</th>
                            <th class="text-center">EXPIRY DATE</th>
                            <th class="text-center">UOM</th>
                            <th class="text-center">RCVD QTY</th>
                            <th class="text-center">NET WEIGHT</th>
                            <th class="text-center">TIMESTAMP</th>
                        </tr>
                        </thead>
                        <tbody id="tbody_sr_line">
                        </tbody>
                    </table>
                </div>
                <div class="d-block text-center card-footer">
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                    <button type="button" class="btn-wide btn btn-success" data-toggle="modal" data-target="#po_line_modal" title="Add line" data-placement="bottom">Add</button>
                </div>
            </div>
        </div>
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
            </div>
            </div>
        </div>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();
        </script>
    </div>
    </form>
</div>
{% endblock %}

{% block inner_footer %}
<div class="app-footer-right">
    <button type="button" class="btn btn-secondary" onclick="history.back(-1)" 
    style="margin-right: 10px;">Cancel</button>
    <button form="edit_form" type="submit" class="btn btn-primary">Save</button>
</div>
{% endblock %}

{% block toast %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="toast-container" class="toast-top-center">
    {% for category, message in messages %}
        {% if category == 'success' %}
        <div class="toast toast-success" aria-live="polite">
            <div class="toast-progress" style="width: 0%;"></div>
            <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
            <div class="toast-title">Success!</div>
            <div class="toast-message">{{ message }}</div>
        </div>
        {% elif category == 'error' %}
        <div class="toast toast-error" aria-live="polite">
            <div class="toast-progress" style="width: 0%;"></div>
            <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
            <div class="toast-title">Error!</div>
            <div class="toast-message">{{ message }}</div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}