{% extends "admin/admin_sidebar.html" %} {% block first_sidebar_navigation %}
<li class="app-sidebar__heading">Administration</li>
<li>
  <a
    href="{{ url_for('bp_iwms.dashboard')}}"
    class="{% if context['active']=='main_dashboard' %} mm-active {% endif %}"
  >
    <i
      class="metismenu-icon pe-7s-graph1 icon-gradient bg-premium-dark"
      aria-hidden="true"
    ></i>
    Dashboard
  </a>
</li>
{% endblock %} {% block second_sidebar_navigation %}
<li class="app-sidebar__heading">APP Models</li>
<li>
  <a
    href="#"
    class="{% if context['active']=='system' %} mm-active {% endif %}"
  >
    <i
      class="metismenu-icon pe-7s-browser icon-gradient bg-premium-dark"
      aria-hidden="true"
    ></i>
    System
    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
  </a>
  <ul>
    <li>
      <a href=""> <i class="metismenu-icon"> </i>Configuration </a>
    </li>
    {% if 'user' in session['permissions'] %}
    {% if session['permissions']['user']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.users') }}"
        class="{% if context['mm-active'] == 'Users' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>User
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% if 'group' in session['permissions'] %}
    {% if session['permissions']['group']['read']  %}      
    <li>
      <a
        href="{{ url_for('bp_iwms.groups') }}"
        class="{% if context['mm-active'] == 'Groups' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>User Group
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% if 'email' in session['permissions'] %}
    {% if session['permissions']['email']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.emails') }}"
        class="{% if context['mm-active'] == 'email' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Email Addresses
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% if 'department' in session['permissions'] %}
    {% if session['permissions']['department']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.departments') }}"
        class="{% if context['mm-active'] == 'department' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Department
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'transaction_type' in session['permissions'] %}
    {% if session['permissions']['transaction_type']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.transaction_types') }}"
        class="{% if context['mm-active'] == 'transaction_type' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Transaction Type
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% if 'core_log' in session['permissions'] %}
    {% if session['permissions']['core_log']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.logs') }}"
        class="{% if context['mm-active'] == 'logs' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>System Log
      </a>
    </li>
    {% endif %}
    {% endif %}
  </ul>
</li>
<li>
  <a
    href="#"
    class="{% if context['active']=='inventory' %} mm-active {% endif %}"
  >
    <i
      class="metismenu-icon pe-7s-download icon-gradient bg-premium-dark"
      aria-hidden="true"
    ></i>
    Inventory
    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
  </a>
  <ul>
    {% if 'warehouse' in session['permissions'] %}
    {% if session['permissions']['warehouse']['read'] %}
    
    <li>
      <a
        href="{{ url_for('bp_iwms.warehouses') }}"
        class="{% if context['mm-active'] == 'warehouse' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Warehouse
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% if 'zone' in session['permissions'] %}
    {% if session['permissions']['zone']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.zones') }}"
        class="{% if context['mm-active'] == 'zone' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Zone
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'bin_location' in session['permissions'] %}
    {% if session['permissions']['bin_location']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.bin_locations') }}"
        class="{% if context['mm-active'] == 'bin_location' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Bin Location
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'category' in session['permissions'] %}
    {% if session['permissions']['category']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.categories') }}"
        class="{% if context['mm-active'] == 'category' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Categories
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'stock_item' in session['permissions'] %}
    {% if session['permissions']['stock_item']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.stock_items') }}"
        class="{% if context['mm-active'] == 'stock_item' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Stock Item
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'stock_item_type' in session['permissions'] %}
    {% if session['permissions']['stock_item_type']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.stock_item_types') }}"
        class="{% if context['mm-active'] == 'stock_item_type' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Type
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'unit_of_measure' in session['permissions'] %}
    {% if session['permissions']['unit_of_measure']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.unit_of_measures') }}"
        class="{% if context['mm-active'] == 'unit_of_measure' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Unit of Measurement
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'reason' in session['permissions'] %}
    {% if session['permissions']['reason']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.reasons') }}"
        class="{% if context['mm-active'] == 'reason' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Reason
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'source' in session['permissions'] %}
    {% if session['permissions']['source']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.sources') }}"
        class="{% if context['mm-active'] == 'source' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Source
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'stock_receipt' in session['permissions'] %}
    {% if session['permissions']['stock_receipt']['read'] %}

    <li>
      <a
        href="{{ url_for('bp_iwms.stock_receipts') }}"
        class="{% if context['mm-active'] == 'stock_receipt' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Stock Receipt
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'putaway' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Putaway
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'internal_transfer' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Internal Transfer
      </a>
    </li>
    {% endif %}
    {% endif %}
    
    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'transfer_order' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Transfer Order
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'picklist_transaction' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Picklist Transaction
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'picking' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Picking
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'stock_issuance' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Stock Issuance
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'stock_adjustment' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Stock Adjustment
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'cycle_count' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Cycle Count
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% if 'putaway' in session['permissions'] %}
    {% if session['permissions']['putaway']['read'] %}
    <li>
      <a
        href="{{ url_for('bp_iwms.putaways') }}"
        class="{% if context['mm-active'] == 'trucking' %} mm-active {% endif %}"
      >
        <i class="metismenu-icon"> </i>Trucking
      </a>
    </li>
    {% endif %}
    {% endif %}
  </ul>
</li>
<li>
  <a href="#" class="{% if context['active']=='sales' %} mm-active {% endif %}">
    <i
      class="metismenu-icon pe-7s-graph2 icon-gradient bg-premium-dark"
      aria-hidden="true"
    ></i>
    Sales
    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
  </a>
  <ul>
    <li>
      <a href="{{ url_for('bp_iwms.sales_via') }}" class="{% if context['mm-active'] == 'sales_via' %} mm-active {% endif %}"><i class="metismenu-icon"> </i>Sales Via</a>
    </li>
    <li>
      <a href="{{ url_for('bp_iwms.client_groups') }}" class="{% if context['mm-active'] == 'client_group' %} mm-active {% endif %}"> <i class="metismenu-icon"> </i>Client Group</a>
    </li>
    <li>
      <a href="{{ url_for('bp_iwms.clients') }}" class="{% if context['mm-active'] == 'client' %} mm-active {% endif %}"> <i class="metismenu-icon"> </i>Client</a>
    </li>
    <li>
      <a href=""> <i class="metismenu-icon"> </i>Sales Order</a>
    </li>
  </ul>
</li>
<li>
  <a
    href="#"
    class="{% if context['active']=='purchases' %} mm-active {% endif %}"
  >
    <i
      class="metismenu-icon pe-7s-wallet icon-gradient bg-premium-dark"
      aria-hidden="true"
    ></i>
    Purchases
    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
  </a>
  <ul>
    <li>
      <a href="{{ url_for('bp_iwms.suppliers') }}" class="{% if context['mm-active'] == 'supplier' %} mm-active {% endif %}"> <i class="metismenu-icon"> </i>Supplier</a>
    </li>
    <li>
      <a href="{{ url_for('bp_iwms.terms') }}" class="{% if context['mm-active'] == 'term' %} mm-active {% endif %}"> <i class="metismenu-icon"> </i>Terms</a>
    </li>
    <li>
      <a href="{{ url_for('bp_iwms.purchase_orders') }}" class="{% if context['mm-active'] == 'purchase_order' %} mm-active {% endif %}"> <i class="metismenu-icon"> </i>Purchase Order</a>
    </li>
  </ul>
</li>
<li>
  <a
    href="#"
    class="{% if context['active']=='reports' %} mm-active {% endif %}"
  >
    <i
      class="metismenu-icon pe-7s-note2 icon-gradient bg-premium-dark"
      aria-hidden="true"
    ></i>
    Reports
    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
  </a>
  <ul>
    <li>
      <a href=""> <i class="metismenu-icon"> </i> </a>
    </li>
  </ul>
</li>
<li>
  <a
    href="#"
    class="{% if context['active']=='warehouse_bin_location' %} mm-active {% endif %}"
  >
    <i
      class="metismenu-icon pe-7s-network icon-gradient bg-premium-dark"
      aria-hidden="true"
    ></i>
    Warehouse Bin Location
    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
  </a>
  <ul>
    <li>
      <a href="{{ url_for('bp_iwms.warehouse_bin_location') }}">
        <i class="metismenu-icon"> </i>Warehouse Floor Plan
      </a>
    </li>
  </ul>
</li>
{% endblock %}
