{% extends "admin/admin_base.html" %}

{% block sidebar %}
    {% include 'iwms/iwms_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="app-main__inner">
    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div id="dragThis1" class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Box1</div>
                    <div class="widget-subheading">description sample</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span id="posX"></span></div>
                    <div class="widget-numbers text-white"><span id="posY"></span></div>
                </div>
            </div>
        </div>
    </div>

    <div id="dragThis2" class="col-lg-6 col-xl-4">
        <div class="card mb-3 widget-content bg-night-fade">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Box2</div>
                    <div class="widget-subheading">description sample</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span id="posX1"></span></div>
                    <div class="widget-numbers text-white"><span id="posY1"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dragThis3" class="col-lg-6 col-xl-4">
        <div class="card mb-3 widget-content bg-happy-green">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Box3</div>
                    <div class="widget-subheading">description sample</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span id="posX2"></span></div>
                    <div class="widget-numbers text-white"><span id="posY2"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
        $('#dragThis1').draggable(
            {
                drag: function(){
                    var offset = $(this).offset();
                    var xPos = offset.left;
                    var yPos = offset.top;
                    $('#posX').text('x: ' + xPos);
                    $('#posY').text('y: ' + yPos);
                }
            });
            $('#dragThis2').draggable(
                {
                    drag: function(){
                        var offset = $(this).offset();
                        var xPos = offset.left;
                        var yPos = offset.top;
                        $('#posX1').text('x: ' + xPos);
                        $('#posY1').text('y: ' + yPos);
                    }
                });
                $('#dragThis3').draggable(
                    {
                        drag: function(){
                            var offset = $(this).offset();
                            var xPos = offset.left;
                            var yPos = offset.top;
                            $('#posX2').text('x: ' + xPos);
                            $('#posY2').text('y: ' + yPos);
                        }
                    });    
</script>
{% endblock %}


{% block toast %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="toast-container" class="toast-top-center">
    {% for category, message in messages %}
        {% if category == 'success' %}
        <div class="toast toast-success" aria-live="polite">
            <div class="toast-progress" style="width: 0%;"></div>
            <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
            <div class="toast-title">Success!</div>
            <div class="toast-message">{{ message }}</div>
        </div>
        {% elif category == 'error' %}
        <div class="toast toast-error" aria-live="polite">
            <div class="toast-progress" style="width: 0%;"></div>
            <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
            <div class="toast-title">Error!</div>
            <div class="toast-message">{{ message }}</div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
